<!DOCTYPE html>
<html>
<head>
<title>Internship Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>Add Internship</h2>

<form method="POST">

<input name="company" placeholder="Company Name" required>

<input name="role" placeholder="Role" required>

<label>Application Link</label>
<input type="url" name="link" placeholder="https://company.com/apply">

<select name="status">
<option value="applied">Applied</option>
<option value="interview">Interview</option>
<option value="offer">Offer</option>
<option value="rejected">Rejected</option>
</select>

<input type="date" name="deadline" required>

<button type="submit">Add Application</button>

</form>

<a href="/dashboard" class="auth-link">Back to Dashboard</a>

</div>

</body>
</html>