<!DOCTYPE html>
<html>
<head>
<title>Internship Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>Edit Application</h2>

<form method="POST">

<input name="company" value="{{ app.company }}" required>

<input name="role" value="{{ app.role }}" required>

<label>Application Link</label>
<input type="url" name="link" value="{{ app.link }}" placeholder="https://company.com/apply">

<select name="status">

<option value="applied">Applied</option>
<option value="interview">Interview</option>
<option value="offer">Offer</option>
<option value="rejected">Rejected</option>

</select>

<input type="date" name="deadline" value="{{ app.deadline }}" required>

<button type="submit">Update Application</button>

</form>

<a href="/dashboard" class="auth-link">Back to Dashboard</a>

</div>

</body>
</html>